/* 
font-family: 'General Sans', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif; 
*/

*{font-family: 'Cabinet Grotesk', sans-serif;}
h1{font-family: 'General Sans', sans-serif;}
h2{font-weight: 500;}